@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body{
    background-color: rgb(235, 226, 236);

}

header{
    background-color: rgb(226, 198, 252);
    height: 8vh;
}

main{
    background-color: rgb(240, 225, 245);
    min-height: 80vh;
}

footer{
    background-color: rgb(236, 208, 245);
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color: rgb(66, 48, 83);
        text-align: center;
    }
}

.bt-Classico{
    padding: 8px;
    margin: 2px;
    border: 0.1px solid  rgb(66, 48, 83)
    ;
    font-size: 1.3em;
    background-color: rgb(224, 213, 235);
    border-radius: 5px;
}