main{
    div{
       width: 80%;
       margin: auto;

       display: flex;
       /* justify-content: center; */
       align-items: center;
       flex-direction: column;
       
       form{
        background-color: rgb(192, 166, 218);
        padding: 20px;
        width: fit-content;
        border-radius: 8px;

            input, select {
                padding: 3px;
                font-size: 1.2em;
                min-width: 400px;

            }
       }
    }
}