nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link{
    color: rgb(183, 146, 202);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}