nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-Logo{
    position: fixed; 
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 15px;
    z-index: 2000;
}


a:link{
    color: rgb(183, 146, 202);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}