nav{
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoDiv {
    display: flex;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url("../../componentes/LogoNovaSFundo.png"); 
    background-size: cover;
    border-radius: 4px;
}


a:link{
    color: rgb(183, 146, 202);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}